.relative{
    position: relative;
}


.b-wrapper{
    width: 100%;
    max-width: 940px;
    margin: 50px auto;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.b-search_total_resul{
    margin-left: 25px;
}

.b-search-form-submit{

    position: absolute;
    top: 0;
    right: 15px;
    max-width: 62px;
}
.b-result-row{
    overflow: hidden;
}
.b-item-film-search{
    border: 1px solid transparent;
    color: #000;
    margin: 2%;
    width: 96%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
.b-item-film-search:hover{
    border: 1px solid grey;
}
.b-item-film-search span{
    display: block;
}
.b-item-film{
    overflow: hidden;
}
.fl-r{
    float: right;
}
.b-control{
    padding: 25px;
}
.b-edit-textarea,
.edit input{
    border-color: transparent;
}
.b-edit-textarea:hover,
.edit input:hover{
    border-color: #abadb3;
}
.b-edit-textarea{
    height: 150px;
    display: block;
    width: 100%;
    resize: none;
}