<div class="b-wrapper" ng-controller="editFilmCtrl">
    <div class="b-control b-control--no-bord">
        <a href="#/" class="btn btn-primary">К поиску</a>
        <!--<a href="#/edit/" class="btn btn-primary fl-r">Редактировать</a>-->
    </div>
    <div class="b-item-film col-md-12 edit">
        <div class="b-poster col-md-4">
            <img style="width: 100%" src="http://image.tmdb.org/t/p/w500/{{filmposter}}" alt=""/>
        </div>
        <div class="b-descript col-md-8">
            <input ng-model="filmName" class="h1" value="{{filmName}}" type="text"/>
            <input ng-model="filmDate" class="h4" value="{{filmDate}}" type="text"/>
            <textarea class="b-edit-textarea" ng-model="filmDescript">{{filmDescript}}</textarea>
            <p>Спискок актеров:</p>
            <div class="b-actors" ng-controller="actorFilmCtrl">
                <ul ng-repeat="actor in actors">
                    <li>{{actor.name}}</li>
                </ul>
            </div>

        </div>
    </div>
</div>