<div class="b-wrapper" ng-controller="itemFilmCtrl">
    <div class="b-control b-control--no-bord">
        <a href="#/" class="btn btn-primary">К поиску</a>
        <a href="#/edit/" class="btn btn-primary fl-r">Редактировать</a>
    </div>
    <div class="b-item-film col-md-12">
        <div class="b-poster col-md-4">
            <img style="width: 100%" src="http://image.tmdb.org/t/p/w500/{{filmposter}}" alt=""/>
        </div>
        <div class="b-descript col-md-8">
            <h1 class="h1">{{filmName}}</h1>
            <p class="h4">{{filmDate}}</p>
            <p class="descript">{{filmDescript}}</p>
            <p>Спискок актеров:</p>
            <div class="b-actors" ng-controller="actorFilmCtrl">
                <ul ng-repeat="actor in actors">
                    <li>{{actor.name}}</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<script>

    var href = window.location.href;
    var splitHref = href.split('#/item/');
    //На самом деле создавать глобальную переменную, чтобы передать данные из одного контроллера в другой, не самая хорошая идея.
    //Но как сделать по-другому я пока не разобрался
</script>