<div class="b-wrapper" ng-controller="searchFilmCtrl">
    <div class="b-search-row">
        <form ng-submit="searchFilms()">
            <div class="col-md-12 relative">
                <input type="text" class="form-control" ng-model="searchName" placeholder="Ведите название фильма...">
                <input class="b-search-form-submit btn btn-primary" type="submit" value="поиск">
            </div>


        </form>

        <div class="row">
            <span class="col-md-12 h6 b-search_total_resul">Найдено фильмов: {{totalResul}}</span>
        </div>
    </div>
    <div class="b-result-row">
        <div class="b-result-item" ng-repeat="data in datas">
            <a href="#/item/{{data.id}}" class="b-item-film-search col-md-12">
                <span class="col-md-4">
                    <img style="width: 100%;" src="http://image.tmdb.org/t/p/w500/{{data.poster_path}}" alt=""/>
                </span>
                <span class="col-md-8">
                    <span class="h1">{{data.title}}</span>
                    <span class="h4">{{data.release_date}}</span>
                    <span class="descript">{{data.overview}}</span>
                </span>
            </a>
        </div>
    </div>
</div>